@inherits MenuBase

<li class="@GetNavItemClass()">
    <a href="@Path" class="nav-link">
        <i class="@Icon"></i>
        <span class="title">@Text</span>
    </a>
</li>

@code {
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string Path { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";

    private string GetNavItemClass()
    {
        return IsCurrentPage(Path) ? "nav-item start active" : "nav-item start";
    }
}