@using NovaAccounts.Components.MenuComponents
@using NovaAccounts.Components.MenuComponents.Links
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <li class="sidebar-toggler-wrapper hide" style="display: none">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        <li class="sidebar-search-wrapper">
                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                            <form class="sidebar-search  sidebar-search-bordered" action="" method="POST">
                                <a href="javascript:;" class="remove">
                                    <i class="icon-close"></i>
                                </a>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search..." id="filter">
                                    <span class="input-group-btn">
                                        <a href="javascript:;" class="btn submit">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </span>
                                </div>
                            </form>
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <!-- Direct Blazor equivalents of your MVC helpers -->
                        <MenuFirstLevelLink Text="INVOICES" Path="/" Icon="icon-calculator" />
                        <MenuFirstLevelLink Text="RECEIPTS"  Path="/" Icon="icon-docs" />
                        <MenuFirstLevelLink Text="DEPOSITS"  Path="Deposits" Icon="icon-briefcase" />
                        <MenuFirstLevelLink Text="PAYMENTS"  Path="Payments" Icon="icon-wallet" />
                        <MenuFirstLevel Text="CBS Clients" Icon="fa fa-users" Controllers="@(new List<string> { "cbsClients" })">
                            <SubMenuLink Text="All Clients"  Path="/clients" />
                            <SubMenuLink Text="Add Client" Path="cbsClients" />
                        </MenuFirstLevel>
                        <li aria-haspopup="true" class="dropdown-submenu ">
                            <a href="javascript:;" class="nav-link nav-toggle ">
                                <i class="icon-social-dribbble"></i> General
                                <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_about.html" class="nav-link ">
                                        <i class="icon-info"></i> About
                                    </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_contact.html" class="nav-link ">
                                        <i class="icon-call-end"></i> Contact
                                    </a>
                                </li>
                                <li aria-haspopup="true" class="dropdown-submenu ">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="icon-notebook"></i> Portfolio
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="page_general_portfolio_1.html" class="nav-link "> Portfolio 1 </a>
                                        </li>
                                        <li class="">
                                            <a href="page_general_portfolio_2.html" class="nav-link "> Portfolio 2 </a>
                                        </li>
                                        <li class="">
                                            <a href="page_general_portfolio_3.html" class="nav-link "> Portfolio 3 </a>
                                        </li>
                                        <li class="">
                                            <a href="page_general_portfolio_4.html" class="nav-link "> Portfolio 4 </a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="dropdown-submenu ">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="icon-magnifier"></i> Search
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="page_general_search.html" class="nav-link "> Search 1 </a>
                                        </li>
                                        <li class="">
                                            <a href="page_general_search_2.html" class="nav-link "> Search 2 </a>
                                        </li>
                                        <li class="">
                                            <a href="page_general_search_3.html" class="nav-link "> Search 3 </a>
                                        </li>
                                        <li class="">
                                            <a href="page_general_search_4.html" class="nav-link "> Search 4 </a>
                                        </li>
                                        <li class="">
                                            <a href="page_general_search_5.html" class="nav-link "> Search 5 </a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_pricing.html" class="nav-link ">
                                        <i class="icon-tag"></i> Pricing
                                    </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_pricing_2.html" class="nav-link ">
                                        <i class="icon-tag"></i> Pricing 2
                                    </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_faq.html" class="nav-link ">
                                        <i class="icon-wrench"></i> FAQ
                                    </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_blog.html" class="nav-link ">
                                        <i class="icon-pencil"></i> Blog
                                    </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_blog_post.html" class="nav-link ">
                                        <i class="icon-note"></i> Blog Post
                                    </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_invoice.html" class="nav-link ">
                                        <i class="icon-envelope"></i> Invoice
                                    </a>
                                </li>
                                <li aria-haspopup="true" class=" ">
                                    <a href="page_general_invoice_2.html" class="nav-link ">
                                        <i class="icon-envelope"></i> Invoice 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                More
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-bell"></i> Alerts
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-info"></i> Notifications
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-speech"></i> Activities
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                        <i class="icon-settings"></i> Settings
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                  
                 
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->




@* *@
@* *@
@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">NovaAccounts</a> *@
@*     </div> *@
@* </div> *@
@* *@
@* <input type="checkbox" title="Navigation menu" class="navbar-toggler"/> *@
@* *@
@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"> *@
@*     <nav class="nav flex-column"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="counter"> *@
@*                 <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="weather"> *@
@*                 <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
@*             </NavLink> *@
@*         </div> *@
@*     </nav> *@
@* </div> *@