
<table class="table">
    <tbody>
        <tr>
            <td class="bg-blue-chambray font-white">STAFF NUMBER</td>
            <td class="lead">StaffNum</td>
        </tr>
        <tr>
            <td class="bg-blue-chambray font-white">STAFF NAME</td>
            <td class="lead">ClientName</td>
        </tr>
        <tr>
            <td class="bg-blue-chambray font-white">BASIC</td>
            <td class="lead">BasicAmount.ToString("N")</td>
        </tr>
        <tr>
            <td class="bg-blue-chambray font-white">SSNIT</td>
            <td class="lead">EmployeeSSNIT.ToString("N")</td>
        </tr>
       
       
    
        <tr>
            <td class="bg-blue-chambray font-white">TAXABLE PAY</td>
            <td class="lead">TaxableAmount.ToString("N")</td>
        </tr>
        <tr>
            <td class="bg-blue-chambray font-white">TAX</td>
            <td class="lead">TaxAmount.ToString("N")</td>
        </tr>
        <tr>
            <td class="bg-blue-chambray font-white">DEDUCTIONS</td>
            <td class="lead">LoanDeduction.ToString("N")</td>
        </tr>
       
    </tbody>
</table>

