@page "/"
@using NovaAccounts.Components.Dashboard.Account
@using NovaAccounts.Components.Dashboard.Modals
@using NovaAccounts.Components.Dashboard.Progress
@using NovaAccounts.Components.Dashboard.Statistics
@using NovaAccounts.Components.Dashboard.Stepper
@using NovaAccounts.Components.Dashboard.Table
@using NovaAccounts.Components.Layout
@layout MainLayout
<PageTitle>Home</PageTitle>


<!-- BEGIN CONTAINER -->
<div class="page-container">
    <SideMenu></SideMenu>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->

            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title">
                @*<marquee style="color:red;">***Alert!!! This is a Novalotto test platform***</marquee>*@
                <small></small>
            </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            
            <!-- BEGIN DASHBOARD STATS 3-->
            <div class="row">
                <div class="col-md-7">
                    <div id="site_activities_loading">
                        <img src="../assets/global/img/loading.gif" alt="loading" />
                    </div>
                    <div id="line-example" class="rld"></div>
                </div>
                <div class="col-md-5">
                    <div id="site_activities_loading">
                        <img src="../assets/global/img/loading.gif" alt="loading" />
                    </div>
                    <div id="donut-example" class="rld"></div>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <div id="site_activities_loading">
                        <img src="../assets/global/img/loading.gif" alt="loading" />
                    </div>
                </div>
            </div>
            <!-- END DASHBOARD STATS 3-->
            <ProgressBar></ProgressBar>
            

            
            <StatisticCard></StatisticCard>
            <DataTable></DataTable>
            <DetailsTable></DetailsTable>
            <ModalExample></ModalExample>
            <Form></Form>



        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false" id="activities">

    </div>
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->


