@page "/"
@using NovaAccounts.Components.Dashboard.Account
@using NovaAccounts.Components.Dashboard.Modals
@using NovaAccounts.Components.Dashboard.Statistics
@using NovaAccounts.Components.Dashboard.Table
@using NovaAccounts.Components.Layout
@layout MainLayout
<PageTitle>Home</PageTitle>


<!-- BEGIN CONTAINER -->
<div class="page-container">
    <SideMenu></SideMenu>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->

            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title">
                @*<marquee style="color:red;">***Alert!!! This is a Novalotto test platform***</marquee>*@
                <small></small>
            </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            
            <!-- BEGIN DASHBOARD STATS 3-->
            <div class="row">
                <div class="col-md-7">
                    <div id="site_activities_loading">
                        <img src="../assets/global/img/loading.gif" alt="loading" />
                    </div>
                    <div id="line-example" class="rld"></div>
                </div>
                <div class="col-md-5">
                    <div id="site_activities_loading">
                        <img src="../assets/global/img/loading.gif" alt="loading" />
                    </div>
                    <div id="donut-example" class="rld"></div>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <div id="site_activities_loading">
                        <img src="../assets/global/img/loading.gif" alt="loading" />
                    </div>
                </div>
            </div>
            <!-- END DASHBOARD STATS 3-->
            
            <!-- BEGIN DASHBOARD STATS 2-->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="0" id="totalUnpaid">0</span>
                    </h3>
                    <small>INVENTORY IN STOCK</small>
                </div>
                <div class="icon">
                    <i class="icon-shopping-cart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span class="lead"> GH₵</span><span data-counter="counterup" data-value="0" id="unpaidAmount">0</span>
                    </h3>
                    <small>VALUE OF INVENTORY IN STOCK</small>
                </div>
                <div class="icon">
                    <i class="icon-wallet"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">85% change</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> change </div>
                    <div class="status-number"> 85% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span class="lead"> GH₵</span>
                        <span data-counter="counterup" data-value="0" id="commission">0</span>
                    </h3>
                    <small>PAYABLES</small>
                </div>
                <div class="icon">
                    <i class="icon-wallet"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">45% grow</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> grow </div>
                    <div class="status-number"> 45% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">
                        <span class="lead">GH₵</span>
                        <span data-counter="counterup" data-value="0" id="activeretailers">0</span>
                    </h3>
                    <small>TOTAL DISCOUNT</small>
                </div>
                <div class="icon">
                    <i class="icon-wallet"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                        <span class="sr-only">56% change</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> change </div>
                    <div class="status-number"> 57% </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS 2-->
            
            <StatisticCard></StatisticCard>
            <DataTable></DataTable>
            <DetailsTable></DetailsTable>
            <ModalExample></ModalExample>
          



        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false" id="activities">

    </div>
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->


